<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8">
    <title>Portfolio Page</title>
  </head>
  <body>
    {{>header}}

    <p>Some text here!</p>

    <h2>{{screamIt welcomeMsg}}</h2>

    {{> footer}}
  </body>
</html>
